---
layout: default
---

<!-- Variable Assignments -->
{% assign collection_name = page.dir | remove_first: '/' | append: '@' | remove: '/@' %}
{% assign manifests = collection_name | append: "/manifests" %}
{% assign tags = "" %}{% for item in site.pages %}{% if item.path contains manifests %}{% assign tag_name = item.path | remove_first: collection_name | remove_first: "/manifests/" | remove: "/README.md" %}{% assign tags = tags | append: tag_name | append: "," %}{% endif %}{% endfor %}{% assign tags = tags | append: "-@" | remove: ",-@" %}{% assign taglist = tags | split: ", " %}


<div class="row" style="margin-top:30px">

    <div class="col-md-4">
        <h3 class="title">{{ collection_name }}</h3>
        <small>{{ page.description }}</small>
        
    </div>
    <div class="col-md-6">

        <div class="card">
            <div class="header">
           
            </div>
       </div>   
    </div>
    <div class="col-md-2">
                       <a href="{{ site.github.repository_url }}" 
                          target="_blank"><i style="padding-left:25px; margin-right:50px; float:right; font-size:30px" class="fa fa-github"></i></a>                          
    </div>
</div>

<div class="row" style="margin-top:40px">

    <!-- Container collection meta -->
    <div class="col-md-12">
        <div class="card">             
            <button class="btn btn-default btn-sm" id="usage_button">Usage</button>   
            <button class="btn btn-default btn-sm" id="details_button">Details</button>   
        </div>
    </div>
 </div>

{% if content.size > 0 %}<div class="row" style="margin-top:50px">  
    <div class="col-md-12">
     <div style="display:none" id="collection_details">{{ content }}</div>
    </div>
</div>{% endif %}

<div class="row" style="margin-top:20px;display:none" id="usage_details">  
    <div class="col-md-4">
          <h4>Tags</h4>
           <pre><code>curl {{ site.github.url }}/{{ collection_name }}/tags/</code></pre>
    </div>
    <div class="col-md-4">
          <h4>Manifest</h4>
          <pre><code>curl {{ site.github.url }}/{{ collection_name }}/manifests/latest/</code></pre>
    </div>
</div>

<!-- Containers! -->
<div class="row">        
    <div class="col-md-12">
        <div class="card material-table mdl-data-table--selectable">
            <div class="table-header" style="width:100%">
                <span class="table-title">Builds</span> 
                <span style="margin-left:10px; cursor: help;"
                      title="Builds happen on Continuous Integration deployment">{{ taglist.size }}<span>
            </div>
                   <table id="datatable" style="width:100%" class="datatable">
                       <thead>
                           <tr>                    
                               <th>uri</th>
                               <th>Recipe</th>
                               <th>Status</th>
                               <th>Tag</th>
                               <th>Size</th>
                           </tr>
                       </thead>

                           <tbody>
                           
                           {% for tag in taglist %}<tr>

                               {% comment %}
                               Each tag has an associated README.md with metadata about layers, etc., so we find it here. At
                               the end of this loop below, the page is assigned to the tag_page variable.
                               {% endcomment %}
                               {% assign readme_link = manifests | append: "/" | append: tag | append: "/README.md" %}
                               {% for item in site.pages %}{% if item.path contains readme_link %}{% assign tag_page = item %}{% endif %}{% endfor %}
                               <td>
                                   <a href="{{ site.github.repository_url }}/tree/master/{{ collection_name }}/manifests/{{ tag }}">
                                      {{ collection_name }}:{{ tag }}  
                                   </a>
                               </td>
                               <td><a title="{{ tag }}" href="{{ site.github.repository_url }}/tree/master/{{ collection_name }}/manifests/{{ tag }}/Singularity">Singularity Recipe</a></td>
                               <td><a href="{{ tag_page.layers[0].url }}">
                                   <button class="btn btn-success btn-sm" style="margin-top:20px">DOWNLOAD</button></a></td>
                               <td>{{ tag }}</td>
                               <td>{{ tag_page.size }} KB</td>
                           </tr>{% endfor %}
                       </tbody>
                   </table>
         </div>
     </div>
</div>
    
<div class="row">
    <div class="col-md-12" 
         style="padding-top:20px;float:right">
    <a class="social-icon" 
       href="https://twitter.com/intent/tweet?text=Singularity Container {{ collection_name }}&url={{ page.url }}&via=SingularityApp&related=SingularityApp" 
       rel="nofollow" 
       target="_blank" 
       title="Share on Twitter">
       <i class="fa fa-2x fa-twitter"></i></a>
    <a class="social-icon"  
       href="https://facebook.com/sharer.php?u={{ page.url }}" 
       rel="nofollow" 
       target="_blank" 
       title="Share on Facebook">
       <i class="fa fa-2x fa-facebook"></i></a>
       <a class="social-icon"  href="http://www.reddit.com/submit?url={{ page.url }}&title=Singularity Container {{ collection_name }}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-2x fa-reddit"></i></a>
    </div>
</div>
