---
layout: default
---
        <div id="fh5co-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h2 class="section-lead text-center">Static <span style="color:#e32929">Singularity</span> Registry</h2>
                            <p class="text-center">Hello! Please <a href="{{ site.github.repository_url }}/issues" target="_blank"> reach out </a> if you have questions or need help with the containers here.</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-3">
                       <img src="{{ site.baseurl }}/assets/img/robot_package.png" width="200px">
                       <p>The robots are happy to see you!</p> 
                    </div>
                    <div class="col-md-9">

<!-- Variable Assignments -->
{% assign namespaces = "" %}{% for item in site.pages %}{% if item.path contains "tags/README.md" %}{% assign namespace = item.path | remove: "/tags/README.md" %}{% assign namespaces = namespaces | append: namespace | append: "," %}{% endif %}{% endfor %}{% assign namespaces = namespaces | append: "-@" | remove: ",-@" %}{% assign namespace_list = namespaces | split: ", " %}

        <div class="card material-table mdl-data-table--selectable">
            <div class="table-header" style="width:100%">
                <span class="table-title">Collections</span> 
                <span style="margin-left:10px; cursor: help;"
                      title="Builds happen on Continuous Integration deployment">{{ namespace_list.size }}<span>
            </div>
                   <table id="datatable" style="width:100%" class="datatable">
                       <thead>
                           <tr>                    
                               <th>Namespaces</th>
                           </tr>
                       </thead>

                           <tbody>
                           
                           {% for namespace in namespace_list %}<tr>
                               <td>
                                   <a href="{{ site.baseurl }}/{{ namespace }}">
                                      {{ namespace }}  
                                   </a>
                               </td>
                           </tr>{% endfor %}
                       </tbody>
                   </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
