---
layout: default
---
        <div id="fh5co-team">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <h2 class="section-lead text-center">Static <span style="color:#e32929">Singularity</span> Registry</h2>
                            <p class="text-center">Hello! Please <a href="{{ site.github.repository_url }}/issues" target="_blank"> reach out </a> if you have questions or need help with the containers here.</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:75px">
                    <div class="col-md-6">
                       <img src="{{ site.baseurl }}/assets/img/robot_package.png" width="200px">
                    </div>
                    <div class="col-md-6">
                       <p>The robots are happy to have you here!</p> 
                    </div>
                </div>
            </div>
        </div>


    </div>

